* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #555;
    background-color: #fff;
}

header {
    background-color: #f5f6f8;
    padding: 40px;
    text-align: center;
    position: relative;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    font-weight: 500;
    font-size: 14px;
}

nav ul li {
    cursor: pointer;
}

.intro {
    margin-top: 50px;
}

.intro h1 {
    font-size: 36px;
    font-weight: 700;
    color: #333;
}

.intro p {
    margin: 20px 0;
    max-width: 400px;
    font-size: 14px;
    color: #777;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #fdd8d8;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.skills {
    padding: 50px 20px;
}

.skills h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.skill {
    margin-bottom: 20px;
}

.skill span {
    display: block;
    margin-bottom: 5px;
}

.progress {
    background: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    height: 8px;
}

.bar {
    height: 100%;
    background: #fdd8d8;
    width: 0;
}

.projects {
    padding: 50px 20px;
}

.projects h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.project img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
}

.project-text h3 {
    font-size: 20px;
    font-weight: bold;
}

.project-text p {
    margin-top: 10px;
    font-size: 14px;
    color: #777;
}

.contact {
    padding: 50px 20px;
}

.contact h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.contact-content {
    position: relative;
}

.contact-content img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.contact-info {
    position: absolute;
    background-color: #fdd8d8;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

.contact-info ul {
    list-style: none;
}

.contact-info li {
    margin-bottom: 10px;
    font-size: 14px;
}

